body{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

.Header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px;
   background-color: #646cff;
   margin: 0px;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: 400px;
}